<div class="card">
  <div class="card-header">
    <p class="card-header-text">ছুটি সংক্রান্ত তথ্যাবলী</p>
    <button *ngIf="this.role == 'hallOfficer'" id="edit-btn" type="button" class="btn btn-sm btn-success waves-effect waves-light f-right" (click)="openAddLeaveModal(addLeave)">
      ছুটির আবেদন
    </button>
  </div>

  <div class="card-body">
    <div *ngIf ="this.pendingLeave==true" class="card b-l-success business-info services">
      <div class="card-body">
        <ul *ngFor="let leave of this.leaves; index as i;">
          <li *ngIf="leave.approval_status=='pending'"><i class="icofont icofont-hour-glass"></i> {{leave.date_from}} থেকে {{leave.date_to}} তারিখের ছুটি অনুমোদনের অপেক্ষায়
            আছে।</li>
        </ul>
      </div>
    </div>
    <div *ngIf ="this.casualLeave==true" class="table-responsive">
      <table class="table table-striped table-bordered full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
        [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
        <thead>
          <tr>
            <th>ক্যাজুয়াল ছুটির তারিখ</th>
            <th>ব্যাপ্তি</th>
          </tr>
          <tr>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let leave of this.leaves; index as i;">
            <td *ngIf="leave.approval_status=='approved' && leave.category =='casual'" >{{leave.date_from}} - {{leave.date_to}}</td>
            <td *ngIf="leave.approval_status=='approved' && leave.category =='casual'">{{leave.days}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="7"><span style="color: red">এই বছরে সর্বমোট {{this.totalCasualLeave}} টি ক্যাজুয়াল ছুটি নিয়েছেন।</span>
              <!-- <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator> -->
            </td>
          </tr>
        </tfoot>
      </table>
    </div>

    <div *ngIf ="this.sickLeave==true" class="table-responsive">
      <table class="table table-striped table-bordered full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
        [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
        <thead>
          <tr>
            <th>অসুস্থতা ছুটির তারিখ</th>
            <th>ছুটির ব্যাপ্তি</th>
          </tr>
          <tr>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let leave of this.leaves; index as i;">
            <td *ngIf="leave.approval_status=='approved' && leave.category =='sick'" >{{leave.date_from}} - {{leave.date_to}}</td>
            <td *ngIf="leave.approval_status=='approved' && leave.category =='sick'">{{leave.days}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="7"><span style="color: red">এই বছরে সর্বমোট {{this.totalSickLeave}} টি অসুস্থতা ছুটি নিয়েছেন।</span>
              <!-- <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator> -->
            </td>
          </tr>
        </tfoot>
      </table>
    </div>

    <div *ngIf ="this.entertainmentLeave==true" class="table-responsive">
      <table class="table table-striped table-bordered full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
        [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
        <thead>
          <tr>
            <th>বিনোদন ছুটির তারিখ</th>
            <th>ব্যাপ্তি</th>
          </tr>
          <tr>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let leave of this.leaves; index as i;">
            <td *ngIf="leave.approval_status=='approved' && leave.category =='entertainment'" >{{leave.date_from}} - {{leave.date_to}}</td>
            <td *ngIf="leave.approval_status=='approved' && leave.category =='entertainment'">{{leave.days}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="7">
              <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>

    

    
  </div>
</div>


<ng-template #addLeave>
  <div class="modal-header">
    <h5 class="modal-title pull-left">ছুটির আবেদন করুন</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">ছুটি শুরুর তারিখ<span style="color: red">*</span></label>
      <div class="col-sm-8">
        <input [maxDate]="leaveToBeAdded.date_to" type="text" placeholder="DD/MM/YYYY" class="form-control" #dp="bsDatepicker" [bsValue]="bsValue" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-default' }"
          bsDatepicker [(ngModel)]="leaveToBeAdded.date_from">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">ছুটি শেষের তারিখ<span style="color: red">*</span></label>
      <div class="col-sm-8">
        <input [minDate]="leaveToBeAdded.date_from" type="text" placeholder="DD/MM/YYYY" class="form-control" #dp="bsDatepicker" [bsValue]="bsValue" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-default' }"
          bsDatepicker [(ngModel)]="leaveToBeAdded.date_to">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">ছুটির ধরণ<span style="color: red">*</span></label>
      <div class="col-sm-8">
          <select class="form-control" [(ngModel)]="leaveToBeAdded.category">
            <option value="sick">Sick</option>
            <option value="casual">Casual</option>
            <option value="entertainment">Entertainment</option>
          </select>
      </div>
    </div>
    <div *ngIf="this.confirmAddError == true" class="form-group row" style="color: red">
      <label class="col-sm-12 col-form-label">*ঠিকমত ফর্ম পূরণ করুন</label>
    </div>
    <button type="button" class="btn btn-success text-white" (click)="confirmAddLeave()">নিশ্চিত</button>
    <button type="button" class="btn text-white cancel-button f-right" (click)="decline()">বাতিল</button>
  </div>
</ng-template>

<ng-template #deleteTemplate>
  <div class="modal-header">
    <h5 class="modal-title pull-left">তথ্য মুছে দিতে ইচ্ছুক?</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <button type="button" class="btn btn-success text-white" (click)="confirmDelete()">নিশ্চিত</button>
    <button type="button" class="btn text-white cancel-button f-right" (click)="declineDelete()">বাতিল</button>
  </div>
</ng-template>

<ng2-toasty [position]="position"></ng2-toasty>