<div class="row">
  <div class="col-lg-12">
    <div class="md-tabs">
      <ngb-tabset>
        <ngb-tab title="আয়">
          <ng-template ngbTabContent>
            <app-income></app-income>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="ব্যয়">
          <ng-template ngbTabContent>
            <app-expense></app-expense>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="প্রতিবেদন">
          <ng-template ngbTabContent>
            <app-report></app-report>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="ক্যাটেগরি সংশোধন" *ngIf="role == 'accountant'">
          <ng-template ngbTabContent>
            <app-category-edit></app-category-edit>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>