<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="login-card card-body auth-body">
          <form class="md-float-material">
            <div class="text-center">
              <img class="auth-img" src="assets/images/du-logo.png" alt="logo.png">
            </div>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-center txt-primary">সলিমুল্লাহ মুসলিম হল</h3>
                </div>
              </div>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="মোবাইল নম্বর">
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <input type="password" class="form-control" placeholder="নতুন পাসওয়ার্ড">
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <input type="password" class="form-control" placeholder="পুনরায় পাসওয়ার্ড দিন">
                <span class="md-line"></span>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">পাসওয়ার্ড
                    পরিবর্তনের জন্য আবেদন করুন</button>
                </div>
              </div>
              <div class="row m-t-25 text-left">
                <div class="col-sm-7 col-xs-12">
                  <div class="checkbox-fade fade-in-primary">
                    <label>
                      <a [routerLink]="['/authentication/login']" class="">লগইন পেইজ এ ফিরতে চান?</a>
                    </label>
                  </div>
                </div>
              </div>

              <hr />
              <div class="row">
                <div class="col-md-8">
                  <p class="text-inverse text-left m-b-0">Developed by</p>
                  <p class="text-inverse text-left"><b>BSSE 7th Batch, IIT, DU</b></p>
                </div>
                <div class="col-md-2">
                  <img class="auth-img" src="assets/images/auth/iitlogo-blue.png" alt="small-logo.png">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>