<!-- student data table card start -->
<div class="card">
  <div class="card-body contact-details">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8">
        <div>
          <button type="button" class="btn btn-warning" (click)="isCollapsed = !isCollapsed">
            সার্চ ও সর্ট
          </button>

          <div [collapse]="isCollapsed" class="card card-block">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="filter">আইডি</label>
                  <input class="form-control" type="text" />
                </div>
                <div class="form-group">
                  <label for="filter">ধরণ</label>
                  <select class="form-control">
                    <option>--</option>
                    <option>Furniture</option>
                    <option>Gardening tool</option>
                    <option>Electronics</option>
                    <option>Others</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="filter">অবস্থান</label>
                  <input class="form-control" type="text" />
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="filter">অবস্থা</label>
                  <select class="form-control">
                    <option>--</option>
                    <option>Needs repair</option>
                    <option>Working</option>
                    <option>Discarded</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="filter">ক্রয়ের তারিখ</label>
                  <input class="form-control" type="date" />
                </div>
                <div class="form-group">
                  <label for="sel1"><b>কিভাবে সর্ট করতে চান?</b></label>
                  <select class="form-control">
                    <option>আইডি</option>
                    <option>অবস্থান</option>
                    <option>ক্রয়ের তারিখ</option>
                  </select>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-warning">
              ক্লিক করুন
            </button>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4" style="text-align: right;">
        <button class="btn btn-warning"><i class="icofont icofont-plus"></i> নতুন সম্পদ</button>
      </div>
    </div>
    <div class="table-responsive" style="margin-top:30px">
      <table class="table table-striped table-bordered full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
        [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
        <thead>
          <tr>
            <th>
              <mfDefaultSorter by="assetID">আইডি</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="category">ধরণ</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="location">অবস্থান</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="condition">অবস্থা</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="purchaseDate">ক্রয়ের তারিখ</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter>অ্যাকশন</mfDefaultSorter>
            </th>
          </tr>
          <tr>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data; index as i;">
            <td>{{item.assetID}}</td>
            <td>{{item.category}}</td>
            <td>{{item.location}}</td>
            <td>{{item.condition}}</td>
            <td>{{item.purchaseDate}}</td>
            <td ngbDropdown>
              <button ngbDropdownToggle type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-cog" aria-hidden="true"></i>
              </button>
              <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right b-none contact-menu">
                <a class="dropdown-item" href="javascript:;">
                  <i class="icofont icofont-edit"></i>এডিট</a>
                <a class="dropdown-item" href="javascript:;">
                  <i class="icofont icofont-ui-delete"></i>ডিলিট</a>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="7">
              <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

</div>

