<div class="m-t-15">
  <!-- personal card start -->
  <div class="card">
    <div class="card-header">
      <button id="edit-btn" type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right"
        (click)="toggleEditProfile()">
        তথ্য সংশোধন <i class="icofont {{ editProfileIcon }}"></i>
      </button>
    </div>
    <div class="card-body">
      <!-- end of view-info -->
      <div class="edit-info" *ngIf="!editProfile">
        <div class="row">
          <div class="col-lg-12">
            <div class="general-info">
              <div class="row">
                <div class="col-lg-6">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>

                        <tr>
                          <td>
                            <select id="typeMain" class="form-control" (change)="selectMainType($event)">
                              <option *ngFor="let item of data" [value]="item.typeMain">
                                {{item.typeMain}}
                              </option>
                            </select>
                          </td>
                        </tr>

                        <tr>
                            <td>
                              <select id="typeSub" class="form-control" (change)="selectSubType($event)">
                                <option *ngFor="let item of allSubType" [value]="item">
                                  {{item}}
                                </option>
                              </select>
                            </td>
                        </tr>

                        
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- end of table col-lg-6 -->
                <div class="col-lg-6">
                  <div class="table-responsive">

                  <form>
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>
                            <input id="amount" class="form-control" type="text"
                              placeholder="টাকার পরিমাণ" required/>
                          </td>
                        </tr>
                          
                        
                        <tr>
                          <td>
                            <my-date-picker name="date" [options]="myDatePickerOptions"
                              (dateChanged)="onDateChanged($event)"></my-date-picker>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <textarea class="form-control" rows="5"  placeholder="মন্তব্য"></textarea>
                          </td>
                        </tr>
                        
                      </tbody>
                    </table>
                    </form>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <a href="javascript:;" class="btn btn-primary waves-effect waves-light m-r-20">Save</a>
                <a href="javascript:;" id="edit-cancel" class="btn btn-default waves-effect" (click)="toggleEditProfile()">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  
  </div>
</div>