<!-- Page-header start -->

<div class="page-header card">
    <div class="row align-items-end">
      <div class="col-lg-8">
        <div class="page-header-title">
          <span style="padding: 0px; margin: 0px"><i class="icofont icofont-address-book bg-c-lite-blue"></i></span>
          <div class="d-inline">
            <span class="d-block">
              <h4>ব্লকঃ East block ground floor</h4>
            </span>
            <!-- <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span> -->
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="page-header-breadcrumb">
          <ul class="breadcrumb-title">
            <li class="breadcrumb-item">
              <a routerLink="/residence"><i class="icofont icofont-arrow-left"></i>
                তালিকায় ফিরে যান</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page-header end -->
  <app-room-list></app-room-list>