<!-- Page-header start -->

<div class="page-header card">
  <div class="row align-items-end">
    <div class="col-lg-8">
      <div class="page-header-title">
        <span style="padding: 0px; margin: 0px"><i class="icofont icofont-user bg-c-green"></i></span>
        <div class="d-inline">
          <span class="d-block">
            <h4>কর্মকর্তার নামঃ Ariful Haque</h4>
          </span>
          <!-- <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span> -->
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a routerLink="/employee"><i class="icofont icofont-arrow-left"></i>
              তালিকায় ফিরে যান</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Page-header end -->


<div class="row">
  <div class="col-md-6">
    <employee-basic-info></employee-basic-info>
  </div>
  <div class="col-md-6">
    <app-leave-info></app-leave-info>
  </div>
</div>