<!-- Page-header start -->

<div class="page-header card">
  <div class="row align-items-end">
    <div class="col-lg-8">
      <div class="page-header-title">
        <span style="padding: 0px; margin: 0px"><i class="icofont icofont-id bg-c-pink"></i></span>
        <div class="d-inline">
          <span class="d-block">
            <h4>ছাত্রঃ {{this.student.name}}</h4>
          </span>
          <!-- <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span> -->
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a routerLink="/student"><i class="icofont icofont-arrow-left"></i>
              ছাত্র তালিকায় ফিরে যান</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Page-header end -->

<div class="row">
  <div class="col-lg-12">
    <div class="md-tabs">
      <ngb-tabset>
        <ngb-tab title="ব্যক্তিগত তথ্যাবলী">
          <ng-template ngbTabContent>
            <app-personal-info></app-personal-info>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="আবাসিক তথ্যাবলী">
          <ng-template ngbTabContent>
            <app-residence-info></app-residence-info>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="শিক্ষা সম্পর্কিত তথ্যাবলী">
          <ng-template ngbTabContent>
            <app-education-info></app-education-info>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="মন্তব্য" *ngIf="role == 'provost' || role == 'houseTutor'">
          <ng-template ngbTabContent>
            <app-comments></app-comments>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>