<div class="m-t-15">
  <!-- personal card start -->
  <div class="card">
    <div class="card-header">
      <p class="card-header-text">ব্যক্তিগত তথ্যাবলী</p>
      <button id="edit-btn" type="button" class="btn btn-sm btn-danger waves-effect waves-light f-right" (click)="toggleEditProfile()">
        তথ্য সংশোধন <i class="icofont {{ editProfileIcon }}"></i>
      </button>
    </div>
    <div class="card-body">
      <div class="view-info" *ngIf="editProfile">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-12 col-xl-6">
                <div class="table-responsive">
                  <table class="table m-0">
                    <tbody>
                      <tr>
                        <th scope="row">পূর্ণ নাম</th>
                        <td>{{this.student.name}}</td>
                      </tr>
                      <tr>
                        <th scope="row">পিতার নাম</th>
                        <td>{{this.student.fathersName}}</td>
                      </tr>
                      <tr>
                        <th scope="row">মাতার নাম</th>
                        <td>{{this.student.mothersName}}</td>
                      </tr>
                      <tr>
                        <th scope="row">অভিভাবকের বার্ষিক আয়</th>
                        <td>{{this.student.legal_annual_income}}</td>
                      </tr>
                      <tr>
                        <th scope="row">জাতীয়তা</th>
                        <td>{{this.student.nationality}}</td>
                      </tr>
                      <tr>
                        <th scope="row">লিঙ্গ</th>
                        <td>{{this.student.gender}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- end of table col-lg-6 -->
              <div class="col-lg-12 col-xl-6">
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <th scope="row">জন্মতারিখ</th>
                        <td>{{this.student.dateOfBirth}}</td>
                      </tr>
                      <tr>
                        <th scope="row">ধর্ম</th>
                        <td>{{this.student.religion}}</td>
                      </tr>
                      <tr>
                        <th scope="row">NID</th>
                        <td>{{this.student.NID}}</td>
                      </tr>
                      <tr>
                        <th scope="row">যোগাযোগের ঠিকানা</th>
                        <td>{{this.student.contactAddress}}</td>
                      </tr>
                      <tr>
                        <th scope="row">স্থায়ী ঠিকানা</th>
                        <td>{{this.student.permanentAddress}}</td>
                      </tr>
                      <tr>
                        <th scope="row">মোবাইল</th>
                        <td>{{this.student.mobileNumber}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card-header">
                <p class="card-header-text">আইনগত অভিভাবকের তথ্যাবলী</p>
              </div>
              <div class="col-lg-12 col-xl-12">

              </div>
              <div class="col-lg-12 col-xl-6">
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <th scope="row">নাম</th>
                        <td>{{this.student.legal_guardian_name}}</td>
                      </tr>
                      <tr>
                        <th scope="row">ছাত্রের সাথে সম্পর্ক &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <td>{{this.student.legal_relation_with_student}}</td>
                      </tr>
                      <tr>
                        <th scope="row">ঠিকানা</th>
                        <td>{{this.student.legal_address}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-lg-12 col-xl-6">
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <th scope="row">মোবাইল</th>
                        <td>{{this.student.legal_mobile_no}}</td>
                      </tr>
                      <tr>
                        <th scope="row">পেশা</th>
                        <td>{{this.student.legal_profession}}</td>
                      </tr>
                      <tr>
                        <th scope="row">মাসিক আয় &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <td>{{this.student.legal_monthly_income}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card-header">
                <p class="card-header-text">স্থানীয় অভিভাবকের তথ্যাবলী</p>
              </div>
              <div class="col-lg-12 col-xl-12">

              </div>
              <div class="col-lg-12 col-xl-6">
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <th scope="row">নাম</th>
                        <td>{{this.student.local_guardian_name}}</td>
                      </tr>
                      <tr>
                        <th scope="row">ছাত্রের সাথে সম্পর্ক</th>
                        <td>{{this.student.local_relation_with_student}}</td>
                      </tr>
                      <tr>
                        <th scope="row">ঠিকানা</th>
                        <td>{{this.student.local_address}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-lg-12 col-xl-6">
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <th scope="row">মোবাইল</th>
                        <td>{{this.student.local_mobile_no}}</td>
                      </tr>
                      <tr>
                        <th scope="row">পেশা</th>
                        <td>{{this.student.local_profession}}</td>
                      </tr>
                      <tr>
                        <th scope="row">মাসিক আয় &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <td>{{this.student.local_monthly_income}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>
      <!-- end of view-info -->
      <div class="edit-info" *ngIf="!editProfile">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-12 col-xl-6">
                <div class="table-responsive">
                  <table class="table m-0">
                    <tbody>
                      <tr>
                        <th scope="row">পূর্ণ নাম</th>
                        <td><input class="form-control" type="text" [(ngModel)]="student.name"/></td>
                      </tr>
                      <tr>
                        <th scope="row">পিতার নাম</th>
                        <td><input class="form-control" type="text" [(ngModel)]="student.fathersName"/></td>
                      </tr>
                      <tr>
                        <th scope="row">মাতার নাম</th>
                        <td><input class="form-control" type="text" [(ngModel)]="student.mothersName"/></td>
                      </tr>
                      <tr>
                        <th scope="row">অভিভাবকের বার্ষিক আয়</th>
                        <td><input class="form-control" type="text" [(ngModel)]="student.legal_annual_income"/></td>
                      </tr>
                      <tr>
                        <th scope="row">জাতীয়তা</th>
                        <td><input class="form-control" type="text" [(ngModel)]="student.nationality"/></td>
                      </tr>
                      <tr>
                        <th scope="row">লিঙ্গ</th>
                        <td><select class="form-control" [(ngModel)]="student.gender">
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                        </select></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- end of table col-lg-6 -->
              <div class="col-lg-12 col-xl-6">
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <th scope="row">জন্মতারিখ</th>
                        <td><input type="text" placeholder="DD/MM/YYYY" class="form-control" #dp="bsDatepicker" [bsValue]="bsValue"
                          [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-default' }" bsDatepicker [(ngModel)]="student.dateOfBirth"></td>
                      </tr>
                      <tr>
                        <th scope="row">ধর্ম</th>
                        <td><input class="form-control" type="text" [(ngModel)]="student.religion"/></td>
                      </tr>
                      <tr>
                        <th scope="row">NID</th>
                        <td><input class="form-control" type="text" [(ngModel)]="student.NID"/></td>
                      </tr>
                      <tr>
                        <th scope="row">যোগাযোগের ঠিকানা</th>
                        <td><input class="form-control" type="text" [(ngModel)]="student.contactAddress"/></td>
                      </tr>
                      <tr>
                        <th scope="row">স্থায়ী ঠিকানা</th>
                        <td><input class="form-control" type="text" [(ngModel)]="student.permanentAddress"/></td>
                      </tr>
                      <tr>
                        <th scope="row">মোবাইল</th>
                        <td><input class="form-control" type="text" [(ngModel)]="student.mobileNumber"/></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card-header">
                <p class="card-header-text">আইনগত অভিভাবকের তথ্যাবলী</p>
              </div>
              <div class="col-lg-12 col-xl-12">

              </div>
              <div class="col-lg-12 col-xl-6">
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <th scope="row">নাম</th>
                        <td><input class="form-control" type="text" [(ngModel)]="student.legal_guardian_name"/></td>
                      </tr>
                      <tr>
                        <th scope="row">ছাত্রের সাথে সম্পর্ক &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <td><input class="form-control" type="text" [(ngModel)]="student.legal_relation_with_student"/></td>
                      </tr>
                      <tr>
                        <th scope="row">ঠিকানা</th>
                        <td><input class="form-control" type="text" [(ngModel)]="student.legal_address"/></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-lg-12 col-xl-6">
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <th scope="row">মোবাইল</th>
                        <td><input class="form-control" type="text" [(ngModel)]="student.legal_mobile_no"/></td>
                      </tr>
                      <tr>
                        <th scope="row">পেশা</th>
                        <td><input class="form-control" type="text" [(ngModel)]="student.legal_profession"/></td>
                      </tr>
                      <tr>
                        <th scope="row">মাসিক আয় &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <td><input class="form-control" type="text" [(ngModel)]="student.legal_monthly_income"/></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card-header">
                <p class="card-header-text">স্থানীয় অভিভাবকের তথ্যাবলী</p>
              </div>
              <div class="col-lg-12 col-xl-12">

              </div>
              <div class="col-lg-12 col-xl-6">
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <th scope="row">নাম</th>
                        <td><input class="form-control" type="text" [(ngModel)]="student.local_guardian_name"/></td>
                      </tr>
                      <tr>
                        <th scope="row">ছাত্রের সাথে সম্পর্ক</th>
                        <td><input class="form-control" type="text" [(ngModel)]="student.local_relation_with_student"/></td>
                      </tr>
                      <tr>
                        <th scope="row">ঠিকানা</th>
                        <td><input class="form-control" type="text" [(ngModel)]="student.local_address"/></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-lg-12 col-xl-6">
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <th scope="row">মোবাইল</th>
                        <td><input class="form-control" type="text" [(ngModel)]="student.local_mobile_no"/></td>
                      </tr>
                      <tr>
                        <th scope="row">পেশা</th>
                        <td><input class="form-control" type="text" [(ngModel)]="student.local_profession"/></td>
                      </tr>
                      <tr>
                        <th scope="row">মাসিক আয় &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <td><input class="form-control" type="text" [(ngModel)]="student.local_monthly_income"/></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-lg-12 col-xl-12">
                <div class="text-center">
                  <a href="javascript:;" class="btn btn-danger waves-effect waves-light m-r-20" (click)="confirmUpdateStudent(student)">নিশ্চিত</a>
                  <a href="javascript:;" id="edit-cancel" class="btn residence-button waves-effect" (click)="toggleEditProfile()">বাতিল</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>