<div class="m-t-15">
    <!-- personal card start -->
    <div class="card">
      <div class="card-header">
        <h5 class="font-italic pointer normal-link" routerLink="/student"><i class="icofont icofont-arrow-left"></i>
          ছাত্র তালিকায় ফিরে যান</h5>
        <button id="edit-btn" type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right"
          (click)="toggleEditProfile()">
          তথ্য সংশোধন <i class="icofont {{ editProfileIcon }}"></i>
        </button>
      </div>
      <div class="card-body">
        <div class="view-info" *ngIf="editProfile">
          <div class="row">
            <div class="col-lg-12">
              <div class="general-info">
                <div class="row">
                  <div class="col-lg-12 col-xl-6">
                    <div class="table-responsive">
                      <table class="table m-0">
                        <tbody>
                          <tr>
                            <th scope="row">পূর্ণ নাম</th>
                            <td>Md. Aquib Azmain</td>
                          </tr>
                          <tr>
                            <th scope="row">পিতার নাম</th>
                            <td>Md. Mahfuzul Haque</td>
                          </tr>
                          <tr>
                            <th scope="row">মাতার নাম</th>
                            <td>Makhluka Haque</td>
                          </tr>
                          <tr>
                            <th scope="row">অভিভাবকের বার্ষিক আয়</th>
                            <td>1,20,000 tk</td>
                          </tr>
                          <tr>
                            <th scope="row">জাতীয়তা</th>
                            <td>Bangladeshi</td>
                          </tr>
                          <tr>
                            <th scope="row">লিঙ্গ</th>
                            <td>Male</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- end of table col-lg-6 -->
                  <div class="col-lg-12 col-xl-6">
                    <div class="table-responsive">
                      <table class="table">
                        <tbody>
                          <tr>
                            <th scope="row">জন্মতারিখ</th>
                            <td>October 3, 1996</td>
                          </tr>
                          <tr>
                            <th scope="row">ধর্ম</th>
                            <td>Islam</td>
                          </tr>
                          <tr>
                            <th scope="row">NID</th>
                            <td>1000012031</td>
                          </tr>
                          <tr>
                            <th scope="row">যোগাযোগের ঠিকানা</th>
                            <td>Sankar, Dhaka</td>
                          </tr>
                          <tr>
                            <th scope="row">স্থায়ী ঠিকানা</th>
                            <td>Jaleshwaritola, Bogra</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- end of table col-lg-6 -->
                </div>
                <!-- end of row -->
              </div>
              <!-- end of general info -->
            </div>
            <!-- end of col-lg-12 -->
          </div>
          <!-- end of row -->
        </div>
        <!-- end of view-info -->
        <div class="edit-info" *ngIf="!editProfile">
          <div class="row">
            <div class="col-lg-12">
              <div class="general-info">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="table-responsive">
                      <table class="table">
                        <tbody>
                          <tr>
                            <td>
                              <div class="input-group">
                                <span class="input-group-addon"><i class="icofont icofont-user"></i></span>
                                <input type="text" class="form-control" placeholder="Full Name" value="Josephine Villa">
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="form-radio">
                                <div class="group-add-on">
                                  <div class="radio radiofill radio-inline">
                                    <label>
                                      <input type="radio" name="radio"><i class="helper"></i> Male
                                    </label>
                                  </div>
                                  <div class="radio radiofill radio-inline">
                                    <label>
                                      <input type="radio" name="radio" checked><i class="helper"></i> Female
                                    </label>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <input id="dropper-default" class="form-control" type="text" value="October 25th, 1990"
                                placeholder="Select Your Birth Date" />
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <select id="hello-single" class="form-control">
                                <option value="">---- Marital Status ----</option>
                                <option value="married">Married</option>
                                <option value="single" selected>Single</option>
                                <option value="unmarried">Unmarried</option>
                              </select>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="input-group">
                                <span class="input-group-addon"><i class="icofont icofont-location-pin"></i></span>
                                <input type="text" class="form-control" placeholder="Address" value="New York, USA">
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- end of table col-lg-6 -->
                  <div class="col-lg-6">
                    <div class="table-responsive">
                      <table class="table">
                        <tbody>
                          <tr>
                            <td>
                              <div class="input-group">
                                <span class="input-group-addon"><i class="icofont icofont-mobile-phone"></i></span>
                                <input type="text" class="form-control" value="(0123) - 4567891" placeholder="Mobile Number">
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="input-group">
                                <span class="input-group-addon"><i class="icofont icofont-social-twitter"></i></span>
                                <input type="text" class="form-control" value="@codedthemes" placeholder="Twitter Id">
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="input-group">
                                <span class="input-group-addon"><i class="icofont icofont-social-skype"></i></span>
                                <input type="email" class="form-control" value="codedthemes.demo" placeholder="Skype Id">
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="input-group">
                                <span class="input-group-addon"><i class="icofont icofont-earth"></i></span>
                                <input type="text" class="form-control" value="www.demo.com" placeholder="website">
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <a href="javascript:;" class="btn btn-primary waves-effect waves-light m-r-20">Save</a>
                  <a href="javascript:;" id="edit-cancel" class="btn btn-default waves-effect" (click)="toggleEditProfile()">Cancel</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-header">
        <h5 class="card-header-text">আইনগত অভিভাবকের তথ্যাবলী</h5>
        <button id="edit-info-btn" type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right"
          (click)="toggleEditAbout()">
          <i class="icofont {{ editAboutIcon }}"></i>
        </button>
      </div>
      <div class="card-header">
        <h5 class="card-header-text">স্থানীয় অভিভাবকের তথ্যাবলী</h5>
        <button id="edit-info-btn" type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right"
          (click)="toggleEditAbout()">
          <i class="icofont {{ editAboutIcon }}"></i>
        </button>
      </div>
    </div>
  </div>