<div class="m-t-15">
  <!-- personal card start -->
  <div class="card">
    <div class="card-header">
      <p class="card-header-text">শিক্ষা সম্পর্কিত তথ্যাবলী</p>
      <button id="edit-btn" type="button" class="btn btn-sm btn-danger waves-effect waves-light f-right" (click)="toggleEditProfile()">
        তথ্য সংশোধন <i class="icofont {{ editProfileIcon }}"></i>
      </button>
    </div>
    <div class="card-body">
      <div class="view-info" *ngIf="editProfile">
        <div class="row">
          <div class="col-lg-12">
            <div class="general-info">
              <div class="row">
                <div class="col-lg-12 col-xl-6">
                  <div class="table-responsive">
                    <table class="table m-0">
                      <tbody>
                        <tr>
                          <th scope="row">ইউনিট</th>
                          <td>{{this.student.unit}}</td>
                        </tr>
                        <tr>
                          <th scope="row">রেজিস্ট্রেশন নম্বর</th>
                          <td>{{this.student.registrationNumber}}</td>
                        </tr>
                        <tr>
                          <th scope="row">শিক্ষাবর্ষ</th>
                          <td>{{this.student.session}}</td>
                        </tr>
                        <tr>
                          <th scope="row">ক্লাস/বর্ষ</th>
                          <td>{{this.student.class_year_semester}}</td>
                        </tr>
                        <tr>
                          <th scope="row">ক্লাস রোল</th>
                          <td>{{this.student.roll}}</td>
                        </tr>
                        <tr>
                          <th scope="row">ডিপার্টমেন্ট</th>
                          <td>{{this.student.subject_name}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- end of table col-lg-6 -->
                <div class="col-lg-12 col-xl-6">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th scope="row">অ্যাডমিশন টেস্টের মার্ক</th>
                          <td>{{this.student.admissionExamMarks}}</td>
                        </tr>
                        <tr>
                          <th scope="row">মাধ্যমিক (প্রতিষ্ঠান)</th>
                          <td>{{this.student.sscInstitution}}</td>
                        </tr>
                        <tr>
                          <th scope="row">মাধ্যমিক (জিপিএ)</th>
                          <td>{{this.student.sscGPA}}</td>
                        </tr>
                        <tr>
                          <th scope="row">উচ্চমাধ্যমিক (প্রতিষ্ঠান)</th>
                          <td>{{this.student.hscInstitution}}</td>
                        </tr>
                        <tr>
                          <th scope="row">উচ্চমাধ্যমিক (জিপিএ)</th>
                          <td>{{this.student.hscGPA}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="card-header">
                  <p class="card-header-text">ছাত্রের বর্তমান স্ট্যাটাস</p>
                </div>
                <div class="col-lg-12 col-xl-12"> </div>
                <div class="col-lg-12 col-xl-6">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th scope="row">বর্তমান/প্রাক্তন</th>
                          <td>{{this.student.alumni=='false'? 'বর্তমান': 'প্রাক্তন'}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- end of view-info -->
      <div class="edit-info" *ngIf="!editProfile">
        <div class="row">
          <div class="col-lg-12">
            <div class="general-info">
              <div class="row">
                <div class="col-lg-12 col-xl-6">
                  <div class="table-responsive">
                    <table class="table m-0">
                      <tbody>
                        <tr>
                          <th scope="row">ইউনিট</th>
                          <td><input class="form-control" type="text" [(ngModel)]="student.unit"/></td>
                        </tr>
                        <tr>
                          <th scope="row">রেজিস্ট্রেশন নম্বর</th>
                          <td><input class="form-control" type="text" [(ngModel)]="student.registrationNumber" readonly/></td>
                        </tr>
                        <tr>
                          <th scope="row">শিক্ষাবর্ষ</th>
                          <td><input class="form-control" type="text" [(ngModel)]="student.session"/></td>
                        </tr>
                        <tr>
                          <th scope="row">ক্লাস/বর্ষ</th>
                          <td><input class="form-control" type="text" [(ngModel)]="student.class_year_semester"/></td>
                        </tr>
                        <tr>
                          <th scope="row">ক্লাস রোল</th>
                          <td><input class="form-control" type="text" [(ngModel)]="student.roll"/></td>
                        </tr>
                        <tr>
                          <th scope="row">ডিপার্টমেন্ট</th>
                          <td><input class="form-control" type="text" [(ngModel)]="student.subject_name"/></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- end of table col-lg-6 -->
                <div class="col-lg-12 col-xl-6">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th scope="row">অ্যাডমিশন টেস্টের মার্ক</th>
                          <td><input class="form-control" type="text" [(ngModel)]="student.admissionExamMarks"/></td>
                        </tr>
                        <tr>
                          <th scope="row">মাধ্যমিক (প্রতিষ্ঠান)</th>
                          <td><input class="form-control" type="text" [(ngModel)]="student.sscInstitution"/></td>
                        </tr>
                        <tr>
                          <th scope="row">মাধ্যমিক (জিপিএ)</th>
                          <td><input class="form-control" type="text" [(ngModel)]="student.sscGPA"/></td>
                        </tr>
                        <tr>
                          <th scope="row">উচ্চমাধ্যমিক (প্রতিষ্ঠান)</th>
                          <td><input class="form-control" type="text" [(ngModel)]="student.hscInstitution"/></td>
                        </tr>
                        <tr>
                          <th scope="row">উচ্চমাধ্যমিক (জিপিএ)</th>
                          <td><input class="form-control" type="text" [(ngModel)]="student.hscGPA"/></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="card-header">
                  <p class="card-header-text">ছাত্রের বর্তমান স্ট্যাটাস</p>
                </div>
                <div class="col-lg-12 col-xl-12"> </div>
                <div class="col-lg-12 col-xl-6">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th scope="row">বর্তমান/প্রাক্তন</th>
                          <td>
                          <td><select class="form-control" [(ngModel)]="student.alumni">
                              <option value="false">Current</option>
                              <option value="true">Alumni</option>
                            </select>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-lg-12 col-xl-12">
                  <div class="text-center">
                    <a href="javascript:;" class="btn btn-danger waves-effect waves-light m-r-20" (click)="confirmUpdateStudent()">নিশ্চিত</a>
                    <a href="javascript:;" id="edit-cancel" class="btn residence-button waves-effect" (click)="toggleEditProfile()">বাতিল</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>