<div class="m-t-15">
    <!-- personal card start -->
    <div class="card">
      <div class="card-header">
        <button id="edit-btn" type="button" class="btn btn-sm btn-danger waves-effect waves-light f-right"
          (click)="toggleEditProfile()">
          তথ্য সংশোধন <i class="icofont {{ editProfileIcon }}"></i>
        </button>
      </div>
      <div class="card-body">
        <div class="view-info" *ngIf="editProfile">
          <div class="row">
            <div class="col-lg-12">
              <div class="general-info">
                <div class="row">
                  <div class="col-lg-12 col-xl-6">
                    <div class="table-responsive">
                      <table class="table m-0">
                        <tbody>
                          <tr>
                            <th scope="row">ইউনিট</th>
                            <td>A</td>
                          </tr>
                          <tr>
                            <th scope="row">রেজিস্ট্রেশন নম্বর</th>
                            <td>1200-1452-7554</td>
                          </tr>
                          <tr>
                            <th scope="row">শিক্ষাবর্ষ</th>
                            <td>2014-2015</td>
                          </tr>
                          <tr>
                            <th scope="row">ক্লাস/বর্ষ</th>
                            <td>4th (Hons)</td>
                          </tr>
                          <tr>
                            <th scope="row">ক্লাস রোল</th>
                            <td>718</td>
                          </tr>
                          <tr>
                            <th scope="row">ডিপার্টমেন্ট</th>
                            <td>IIT</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- end of table col-lg-6 -->
                  <div class="col-lg-12 col-xl-6">
                    <div class="table-responsive">
                      <table class="table">
                        <tbody>
                          <tr>
                            <th scope="row">অ্যাডমিশন টেস্টের মার্ক</th>
                            <td>163.25</td>
                          </tr>
                          <tr>
                            <th scope="row">মাধ্যমিক (প্রতিষ্ঠান)</th>
                            <td>Bogra Cant Public</td>
                          </tr>
                          <tr>
                            <th scope="row">মাধ্যমিক (জিপিএ)</th>
                            <td>5.00</td>
                          </tr>
                          <tr>
                            <th scope="row">উচ্চমাধ্যমিক (প্রতিষ্ঠান)</th>
                            <td>Bogra Azizul Haque College</td>
                          </tr>
                          <tr>
                            <th scope="row">উচ্চমাধ্যমিক (জিপিএ)</th>
                            <td>5.00</td>
                          </tr>
                          <tr>
                            <th scope="row">উচ্চমাধ্যমিক (বিভাগ)</th>
                            <td>Science</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                 
                  <div class="col-lg-12 col-xl-12">
                    <div class="card-header">
                      <p class="card-header-text">ছাত্রের বর্তমান স্ট্যাটাস</p>
                    </div>
                  </div>
                  <div class="col-lg-12 col-xl-6">
                    <div class="table-responsive">
                      <table class="table">
                        <tbody>
                          <tr>
                            <th scope="row">বর্তমান/প্রাক্তন</th>
                            <td>বর্তমান <i style="color:green" class="icofont icofont-check-circled"></i></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            </div>
        </div>
        <!-- end of view-info -->
        <div class="edit-info" *ngIf="!editProfile">
          <div class="row">
            <div class="col-lg-12">
              <div class="general-info">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="table-responsive">
                      <table class="table">
                        <tbody>
                          <tr>
                            <td>
                              <div class="input-group">
                                <span class="input-group-addon"><i class="icofont icofont-user"></i></span>
                                <input type="text" class="form-control" placeholder="Full Name" value="Josephine Villa">
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="form-radio">
                                <div class="group-add-on">
                                  <div class="radio radiofill radio-inline">
                                    <label>
                                      <input type="radio" name="radio"><i class="helper"></i> Male
                                    </label>
                                  </div>
                                  <div class="radio radiofill radio-inline">
                                    <label>
                                      <input type="radio" name="radio" checked><i class="helper"></i> Female
                                    </label>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <input id="dropper-default" class="form-control" type="text" value="October 25th, 1990"
                                placeholder="Select Your Birth Date" />
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <select id="hello-single" class="form-control">
                                <option value="">---- Marital Status ----</option>
                                <option value="married">Married</option>
                                <option value="single" selected>Single</option>
                                <option value="unmarried">Unmarried</option>
                              </select>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="input-group">
                                <span class="input-group-addon"><i class="icofont icofont-location-pin"></i></span>
                                <input type="text" class="form-control" placeholder="Address" value="New York, USA">
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- end of table col-lg-6 -->
                  <div class="col-lg-6">
                    <div class="table-responsive">
                      <table class="table">
                        <tbody>
                          <tr>
                            <td>
                              <div class="input-group">
                                <span class="input-group-addon"><i class="icofont icofont-mobile-phone"></i></span>
                                <input type="text" class="form-control" value="(0123) - 4567891" placeholder="Mobile Number">
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="input-group">
                                <span class="input-group-addon"><i class="icofont icofont-social-twitter"></i></span>
                                <input type="text" class="form-control" value="@codedthemes" placeholder="Twitter Id">
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="input-group">
                                <span class="input-group-addon"><i class="icofont icofont-social-skype"></i></span>
                                <input type="email" class="form-control" value="codedthemes.demo" placeholder="Skype Id">
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="input-group">
                                <span class="input-group-addon"><i class="icofont icofont-earth"></i></span>
                                <input type="text" class="form-control" value="www.demo.com" placeholder="website">
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <a href="javascript:;" class="btn btn-primary waves-effect waves-light m-r-20">Save</a>
                  <a href="javascript:;" id="edit-cancel" class="btn btn-default waves-effect" (click)="toggleEditProfile()">Cancel</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    
    </div>
  </div>