<!-- student data table card start -->
<div class="card">
  <div class="card-body contact-details">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8">
        <div>
          <button type="button" class="btn residence-button" (click)="isCollapsed = !isCollapsed">
            সার্চ
          </button>

          <div [collapse]="isCollapsed" class="card card-block">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="filter">ব্লক নাম</label>
                  <select class="form-control" [(ngModel)]="roomToBeSearched.block_id">
                    <option *ngFor="let block of blocks">{{block.block_name}} {{block.location}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="sel1">
                    <b>কিভাবে সর্ট করতে চান?</b>
                  </label>
                  <select class="form-control" [(ngModel)]="roomToBeSearched.sortBy">
                    <option value="roomNumber">রুম নম্বর</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="filter">কক্ষ নম্বর</label>
                  <input class="form-control" type="text" [(ngModel)]="roomToBeSearched.roomNumber"/>
                </div>
              </div>
            </div>
            <button type="submit" class="btn residence-button" (click) = "searchSortRoom(roomToBeSearched)">
              নিশ্চিত করুন
            </button>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <button class="btn residence-button f-right" (click)="openAddRoomModal(addRoom)"><i class="icofont icofont-plus"></i>
          নতুন কক্ষ</button>
      </div>
    </div>
    <div class="table-responsive" style="margin-top:30px">
      <table class="table table-striped table-bordered full-data-table" [mfData]="rooms | dataFilter : filterQuery" #mf="mfDataTable"
        [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
        <thead>
          <tr>
            <th>রুম</th>
            <th>ব্লক</th>
            <th>ধারণ ক্ষমতা</th>
            <th>দায়িত্বপ্রাপ্ত শিক্ষক</th>
            <th>অ্যাকশন</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let room of mf.data; index as i;">
            <td class="pointer normal-link" [routerLink]="['details/', room.roomNumber]">{{room.roomNumber}}</td>
            <td>{{room.block_id}}</td>
            <td>{{room.capacity}}</td>
            <td>{{room.assignedHouseTutor}}</td>
            <td>
              <a (click)="openUpdateRoomModal(updateRoom)" href="javascript:;" class="edit-delete-icon">
                <i class="icofont icofont-edit"></i></a>&nbsp;&nbsp;
              <ng-template #updateRoom>
                <div class="modal-header">
                  <h5 class="modal-title pull-left">তথ্য সংশোধন</h5>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">রুম নম্বর</label>
                    <div class="col-sm-8">
                      <input class="form-control" type="text" [(ngModel)]="room.roomNumber" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">ব্লক</label>
                    <div class="col-sm-8">
                      <select class="form-control" [(ngModel)]="room.block_id">
                        <option *ngFor="let block of blocks">{{block.block_name}} {{block.location}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">ধারণ ক্ষমতা</label>
                    <div class="col-sm-8">
                      <input class="form-control" type="text" [(ngModel)]="room.capacity" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">দায়িত্বপ্রাপ্ত শিক্ষক</label>
                    <div class="col-sm-8">
                        <select class="form-control" [(ngModel)]="room.assignedHouseTutor">
                            <option *ngFor="let houreTutor of houseTutors" value="{{houreTutor.id}}">{{houreTutor.name}}</option>
                          </select>
                    </div>
                  </div>
                  <button type="button" class="btn bg-c-lite-blue text-white" (click)="confirmUpdateRoom(room)">নিশ্চিত</button>
                  <button type="button" class="btn text-white cancel-button f-right" (click)="decline()">বাতিল</button>
                </div>
              </ng-template>
              <a (click)="openDeleteModal(deleteTemplate)" href="javascript:;" class="edit-delete-icon">
                <i class="icofont icofont-ui-delete"></i></a>

              <ng-template #deleteTemplate>
                <div class="modal-header">
                  <h5 class="modal-title pull-left">তথ্য মুছে দিতে ইচ্ছুক?</h5>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <button type="button" class="btn bg-c-lite-blue text-white" (click)="confirmDelete(room)">নিশ্চিত</button>
                  <button type="button" class="btn text-white cancel-button f-right" (click)="declineDelete()">বাতিল</button>
                </div>
              </ng-template>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="7">
              <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

</div>

<ng-template #addRoom>
  <div class="modal-header">
    <h5 class="modal-title pull-left">নতুন রুম যুক্ত করুন</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">রুম নম্বর</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" [(ngModel)]="roomToBeAdded.roomNumber" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">ব্লক</label>
      <div class="col-sm-8">
        <select class="form-control" [(ngModel)]="roomToBeAdded.block_id">
          <option *ngFor="let block of blocks" value="{{block.id}}">{{block.block_name}} {{block.location}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">ধারণ ক্ষমতা</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" [(ngModel)]="roomToBeAdded.capacity" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">দায়িত্বপ্রাপ্ত শিক্ষক</label>
      <div class="col-sm-8">
        <select class="form-control" [(ngModel)]="roomToBeAdded.assignedHouseTutor">
          <option *ngFor="let houreTutor of houseTutors" value="{{houreTutor.id}}">{{houreTutor.name}}</option>
        </select>
      </div>
    </div>
    <button type="button" class="btn bg-c-lite-blue text-white" (click)="confirmAddRoom()">নিশ্চিত</button>
    <button type="button" class="btn text-white cancel-button f-right" (click)="decline()">বাতিল</button>
  </div>
</ng-template>

<ng2-toasty [position]="position"></ng2-toasty>