<!-- student data table card start -->
<div class="card">
  <div class="card-body contact-details">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8">
        <div>
          <button type="button" class="btn residence-button" (click)="isCollapsed = !isCollapsed">
            সার্চ
          </button>

          <div [collapse]="isCollapsed" class="card card-block">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="filter">ব্লক নাম</label>
                  <select class="form-control">
                    <option>--</option>
                    <option>West block ground floor</option>
                    <option>East block ground floor</option>
                  </select>
                </div>

              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="filter">কক্ষ নম্বর</label>
                  <input class="form-control" type="text" />
                </div>
              </div>
            </div>
            <button type="submit" class="btn residence-button">
              ক্লিক করুন
            </button>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <button class="btn residence-button f-right"><i class="icofont icofont-plus"></i> নতুন কক্ষ</button>
      </div>
    </div>
    <div class="table-responsive" style="margin-top:30px">
      <table class="table table-striped table-bordered full-data-table" [mfData]="data | dataFilter : filterQuery"
        #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
        <thead>
          <tr>
            <th>
              <mfDefaultSorter by="assetID">রুম</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="category">ব্লক</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="location">ধারণ ক্ষমতা</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="condition">দায়িত্বপ্রাপ্ত শিক্ষক</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter>অ্যাকশন</mfDefaultSorter>
            </th>
          </tr>

        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data; index as i;">
            <td class="pointer normal-link" [routerLink]="['details/', item.roomNumber]">{{item.roomNumber}}</td>
            <td>{{item.block}}</td>
            <td>{{item.capacity}}</td>
            <td>{{item.assignedHouseTutor}}</td>
            <td>
              <a href="javascript:;" style="font-size: 20px">
                <i class="icofont icofont-edit"></i></a>&nbsp;&nbsp;
              <a href="javascript:;" style="font-size: 20px">
                <i class="icofont icofont-ui-delete"></i></a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="7">
              <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

</div>