<!-- Page-header start -->

<div class="page-header card">
  <div class="row align-items-end">
    <div class="col-lg-8">
      <div class="page-header-title">
        <span style="padding: 0px; margin: 0px"><i class="icofont icofont-address-book bg-c-lite-blue"></i></span>
        <div class="d-inline">
          <span class="d-block">
            <h4>কক্ষ নম্বরঃ {{this.room.roomNumber}}</h4>
          </span>
          <!-- <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span> -->
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a routerLink="/residence"><i class="icofont icofont-arrow-left"></i>
              কক্ষ তালিকায় ফিরে যান</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Page-header end -->

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <p class="card-header-text">সাধারণ তথ্যাবলী</p>
        <button id="edit-btn" type="button" class="btn btn-sm residence-button waves-effect waves-light f-right"
          (click)="toggleEditProfile()">
          তথ্য সংশোধন <i class="icofont {{ editProfileIcon }}"></i>
        </button>
      </div>

      <div class="card-body">
        <div class="view-info" *ngIf="editProfile">
          <div class="row">
            <div class="col-lg-12">
              <div class="general-info">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="table-responsive">
                      <table class="table m-0">
                        <tbody>
                          <tr>
                            <th scope="column">ব্লক</th>
                            <td>{{this.room.block_id}}</td>
                          </tr>
                          <tr>
                            <th scope="column">ধারণ ক্ষমতা</th>
                            <td>{{this.room.capacity}}</td>
                          </tr>
                          <tr>
                              <th scope="column">বর্তমান ছাত্র সংখ্যা</th>
                              <td>{{this.numberOfStudentsInRoom}}</td>
                            </tr>
                          <tr>
                            <th scope="column">দায়িত্বপ্রাপ্ত শিক্ষক</th>
                            <td *ngIf="this.room.assignedHouseTutor=='DUMMY'">N/A</td>
                            <td *ngIf="this.room.assignedHouseTutor!='DUMMY'">{{this.room.assignedHouseTutor}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- end of table col-lg-6 -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of view-info -->
        <div class="edit-info" *ngIf="!editProfile">
          <div class="row">
            <div class="col-lg-12">
              <div class="general-info">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="table-responsive">
                      <table class="table m-0">
                        <tbody>
                          <tr>
                            <th scope="column">ব্লক</th>
                            <td>
                              <div>
                                <select class="form-control" [(ngModel)]="room.block_id">
                                  <option *ngFor="let block of blocks" value="{{block.id}}">{{block.block_name}} {{block.location}}</option>
                                </select>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <th scope="column">ধারণ ক্ষমতা</th>
                            <td><input class="form-control" type="text" [(ngModel)]="room.capacity"/></td>
                          </tr>
                          <tr>
                            <th scope="column">দায়িত্বপ্রাপ্ত শিক্ষক</th>
                            <td>
                              <div>
                                  <select class="form-control" [(ngModel)]="room.assignedHouseTutor">
                                      <option *ngFor="let houreTutor of houseTutors" value="{{houreTutor.id}}">{{houreTutor.name}}</option>
                                  </select>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="text-center">
                        <a href="javascript:;" class="btn btn-sm bg-c-lite-blue text-white waves-effect waves-light m-r-20" (click)="confirmUpdateRoom()">নিশ্চিত</a>
                        <a href="javascript:;" id="edit-cancel" class="btn btn-sm waves-effect" (click)="toggleEditProfile()">বাতিল</a>
                      </div>
                    </div>
                  </div>
                  <!-- end of table col-lg-6 -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <p class="card-header-text">কক্ষের ছাত্রদের তালিকা</p>
        <button type="button" class="btn btn-sm f-right residence-button" (click)="openModal(template, 'add')">
          <i class="icofont icofont-plus"></i> নতুন ছাত্র
        </button>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered full-data-table" [mfData]="data" #mf="mfDataTable">
            <thead>
              <tr>
                <th>ছাত্রের নাম</th>
                <th>রেজিস্ট্রেশান নম্বর</th>
                <th>আবাসিক স্ট্যাটাস</th>
                <th>অ্যাকশন</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of this.students; index as i;">
                <td>{{item.name}}</td>
                <td>{{item.registrationNumber}}</td>
                <td>{{item.residentialStatus}}</td>
                <td>
                  <a (click)="openDeleteModal(deleteTemplate)" href="javascript:;" class="edit-delete-icon">
                    <i class="icofont icofont-ui-delete"></i></a>
                </td>
                <ng-template #deleteTemplate>
                    <div class="modal-header">
                      <h5 class="modal-title pull-left">কক্ষ হতে ছাত্রটিকে অপসারন করতে ইচ্ছুক?</h5>
                      <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <button type="button" class="btn bg-c-lite-blue text-white" (click)="deleteStudentFromRoom(item.registrationNumber)">নিশ্চিত</button>
                      <button type="button" class="btn text-white cancel-button f-right" (click)="declineDelete()">বাতিল</button>
                    </div>
                  </ng-template>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="7">
                  <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #template>
  <div class="modal-header">
    <h5 class="modal-title pull-left">{{modalHeader}}</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="list-group" style="overflow: scroll;height:450px;">
      <input type="text" class="form-control" placeholder="ছাত্রের নাম দিয়ে খুঁজুন" [(ngModel)]="searchStudent">
      <div class="list-group-item list-group-item-action flex-column" *ngFor="let item of suggestionStudents | filter:searchStudent">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><input type="radio" name="studentChecked" (change)="onSelectionChange(item.registrationNumber)"  [value]="item.registrationNumber"> {{item.name}}</h5>
        </div>
        <p class="mb-1">রেজিস্ট্রেশান নম্বরঃ {{item.registrationNumber}}</p>
        <p class="mb-1">আবাসিক স্ট্যাটাসঃ {{item.residentialStatus}}</p>
        <p class="mb-1" *ngIf="item.room_no==-1">কক্ষ নম্বরঃ None</p>
        <p class="mb-1" *ngIf="item.room_no!=-1">কক্ষ নম্বরঃ {{item.room_no}}</p>
      </div>
    </div>
    <button type="button" class="btn bg-c-lite-blue text-white" [disabled]="!studentRegToBeAddedToRoom" (click)="addStudentToRoom(item)">নিশ্চিত</button>
    <button type="button" class="btn text-white cancel-button f-right" (click)="decline()">বাতিল</button>
  </div>
</ng-template>



<ng2-toasty [position]="position"></ng2-toasty>