<div class="card">
  <div class="card-body contact-details">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div>
          <button type="button" class="btn residence-button f-right" (click)="openModal(template, 'add')">
            <i class="icofont icofont-plus"></i> নতুন ব্লক
          </button>
        </div>
      </div>
    </div>
    <div class="table-responsive" style="margin-top:30px">
      <table class="table table-bordered full-data-table" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
        [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
        <thead>
          <tr>
            <th>
              <mfDefaultSorter by="blockName">ব্লক নাম</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="location">অবস্থান</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter>অ্যাকশন</mfDefaultSorter>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data; index as i;">
            <td>{{item.blockName}}</td>
            <td>{{item.location}}</td>
            <td>
              <a (click)="openModal(template, 'edit')" href="javascript:;" class="edit-delete-icon">
                <i class="icofont icofont-edit"></i></a>&nbsp;&nbsp;
              <a (click)="openDeleteModal(deleteTemplate)" href="javascript:;" class="edit-delete-icon">
                <i class="icofont icofont-ui-delete"></i></a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="7">
              <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h5 class="modal-title pull-left">{{modalHeader}}</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">ব্লকের নাম</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">অবস্থান</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" />
      </div>
    </div>
    <button type="button" class="btn bg-c-lite-blue text-white" (click)="confirm()">নিশ্চিত</button>
    <button type="button" class="btn text-white cancel-button f-right" (click)="decline()">বাতিল</button>
  </div>
</ng-template>

<ng-template #deleteTemplate>
  <div class="modal-header">
    <h5 class="modal-title pull-left">তথ্য মুছে দিতে ইচ্ছুক?</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <button type="button" class="btn bg-c-lite-blue text-white" (click)="confirmDelete()">নিশ্চিত</button>
    <button type="button" class="btn text-white cancel-button f-right" (click)="declineDelete()">বাতিল</button>
  </div>
</ng-template>