<div class="row">
  <!-- card1 start -->
  <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <i class="icofont icofont-id bg-c-pink card1-icon"></i>
        <span class="text-c-blue f-w-600">আবাসিক ছাত্র</span>
        <h4>১২০০ জন</h4>
        <div>
        <span class="f-left m-t-10 text-muted">
          <i class="text-c-blue f-16 icofont icofont-warning m-r-10"></i>ধারণক্ষমতা ১০০০ জন
        </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card1 end -->
  <!-- card2 start -->
  <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <i class="icofont icofont-user bg-c-green card1-icon"></i>
        <span class="text-c-green f-w-600">কর্মকর্তা/কর্মচারী</span>
        <h4>২৫ জন</h4>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-green f-16 icofont icofont-tag m-r-10"></i>৫ টি পদ ফাঁকা রয়েছে
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card2 end -->
  <!-- card3 start -->
  <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <i class="icofont icofont-money bg-c-blue card1-icon"></i>
        <span class="text-c-pink f-w-600">হলের আয়</span>
        <h4>৫০,০০০ টাকা</h4>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-pink f-16 icofont icofont-calendar m-r-10"></i>চলতি বছরের আগস্ট পর্যন্ত
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card3 end -->
  <!-- card4 start -->
  <div class="col-md-6 col-xl-3">
    <div class="card widget-card-1">
      <div class="card-block-small">
        <i class="icofont icofont-building bg-c-yellow card1-icon"></i>
        <span class="text-c-yellow f-w-600">আবাসিক কক্ষ</span>
        <h4>৪৫ টি</h4>
        <div>
          <span class="f-left m-t-10 text-muted">
            <i class="text-c-yellow f-16 icofont icofont-warning m-r-10"></i>ঘাটতি ১০ টি
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- card4 end -->

  <!-- Statistics Start -->
  <div class="col-md-12 col-xl-12">
    <app-card [title]="'এক নজরে আয় ব্যয়'">
        <div id="line-example" class="line-example">
          <div id="statistics-chart" style="height:300px;"></div>
        </div>
    </app-card>
  </div>

  <!-- Statistics End -->

  <!-- Statistics card start -->
  <!-- <div class="col-md-12 col-xl-4">
    <div class="card widget-statstic-card">
      <div class="card-header">
        <div class="card-header-left">
          <h5>Statistics</h5>
          <p class="p-t-10 m-b-0 text-c-blue">Compared to last week</p>
        </div>
      </div>
      <div class="card-block">
        <i class="icofont icofont-presentation-alt st-icon bg-c-blue"></i>

        <div class="text-left">
          <h3 class="d-inline-block">5,456</h3>
          <i class="icofont icofont-long-arrow-up f-30 text-c-green"></i>
          <span class="f-right">23%</span>
        </div>

      </div>
    </div>
  </div> -->
  <!-- Statistics card end -->
  <!-- Statistics card start -->
  <!-- <div class="col-md-6 col-xl-4">
    <div class="card widget-statstic-card">
      <div class="card-header">
        <div class="card-header-left">
          <h5>Unique visitor</h5>
          <p class="p-t-10 m-b-0 text-c-pink">55% from last 28 hours</p>
        </div>
      </div>
      <div class="card-block">
        <i class="icofont icofont-users-social st-icon bg-c-pink txt-lite-color"></i>

        <div class="text-left">
          <h3 class="d-inline-block">3,874</h3>
          <i class="icofont icofont-long-arrow-down text-c-pink f-30 "></i>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Statistics card end -->
  <!-- Statistics card start -->
  <!-- <div class="col-md-6 col-xl-4">
    <div class="card widget-statstic-card">
      <div class="card-header">
        <div class="card-header-left">
          <h5>New orders</h5>
          <p class="p-t-10 m-b-0 text-c-yellow">54% From last month</p>
        </div>
      </div>
      <div class="card-block">
        <i class="icofont icofont-chart-line st-icon bg-c-yellow"></i>

        <div class="text-left">
          <h3 class="d-inline-block">5,456</h3>
          <i class="icofont icofont-long-arrow-up text-c-green f-30 "></i>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Statistics card end -->
