<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="login-card card-body auth-body">
          <form class="md-float-material" role="form" #userlogin="ngForm" (ngSubmit)="login()">
            <div class="text-center">
              <img class="auth-img" src="assets/images/du-logo.png" alt="logo.png">
            </div>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-center txt-primary">সলিমুল্লাহ মুসলিম হল</h3>
                </div>
              </div>
              <hr />
              <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="message !== ''">
                {{message}}
              </div>
              <hr />
              <div class="input-group">
                <input type="text" class="form-control" placeholder="আপনার মোবাইল নম্বর" name="mobileNumber" [(ngModel)]="loginData.mobile_number" required >
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <input type="password" class="form-control" placeholder="পাসওয়ার্ড" name="password" [(ngModel)]="loginData.password" required>
                <span class="md-line"></span>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" [disabled]="!userlogin.form.valid">সাইন
                    ইন</button>
                </div>
              </div>
              <div class="row m-t-25 text-left">
                <div class="col-sm-7 col-xs-12">
                  <div class="checkbox-fade fade-in-primary">
                    <label>
                      <a [routerLink]="['/authentication/forgot_password']" class="">পাসওয়ার্ড ভুলে গেছেন?</a>
                    </label>
                  </div>
                </div>
              </div>

              <hr />
              <div class="row">
                <div class="col-md-8">
                  <p class="text-inverse text-left m-b-0">Developed by</p>
                  <p class="text-inverse text-left"><b>BSSE 7th Batch, IIT, DU</b></p>
                </div>
                <div class="col-md-2">
                  <img class="auth-img" src="assets/images/auth/iitlogo-blue.png" alt="small-logo.png">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>