<!-- student data table card start -->
<div class="card">
  <div class="card-body contact-details">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8">
        <div>
          <button type="button" class="btn btn-success" (click)="isCollapsed = !isCollapsed">
            সার্চ ও সর্ট
          </button>

          <div [collapse]="isCollapsed" class="card card-block">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="filter">নাম</label>
                  <input class="form-control" type="text" [(ngModel)]="employeeToBeSearched.name"/>
                </div>
                <div class="form-group">
                  <label for="filter">পদমর্যাদা</label>
                  <input class="form-control" type="text" [(ngModel)]="employeeToBeSearched.job_title"/>
                </div>
                <div class="form-group">
                  <label for="filter">ডিপার্টমেন্ট</label>
                  <input class="form-control" type="text" [(ngModel)]="employeeToBeSearched.department"/>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="filter">আবাসিক স্ট্যাটাস</label>
                  <select class="form-control" [(ngModel)]="employeeToBeSearched.campus_residency">
                    <option>--</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="sel1">
                    <b>কিভাবে সর্ট করতে চান?</b>
                  </label>
                  <select class="form-control" [(ngModel)]="employeeToBeSearched.sortBy">
                    <option value="name">নাম</option>
                    <option value="joining_date">যোগদান তারিখ</option>
                    <option value="department">ডিপার্টমেন্ট</option>
                  </select>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-success" (click)="searchSortEmployee(employeeToBeSearched)">
              নিশ্চিত করুন
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="this.role == 'hallOfficer'" class="col-xs-12 col-sm-12 col-md-4">
        <button class="btn btn-success f-right" (click)="openAddEmployeeModal(addEmployee)">
          <i class="icofont icofont-plus"></i> নতুন কর্মকর্তা/কর্মচারী</button>
      </div>
    </div>
    <div class="table-responsive" style="margin-top:30px">
      <table class="table table-striped table-bordered full-data-table" [mfData]="employees | dataFilter : filterQuery" #mf="mfDataTable"
        [mfRowsOnPage]="rowsOnPage">
        <thead>
          <tr>
            <th>নাম </th>
            <th>যোগদান তারিখ</th>
            <th>পদমর্যাদা</th>
            <th>মোবাইল</th>
            <th>ডিপার্টমেন্ট</th>
            <th>ক্যাম্পাসে অবস্থান স্ট্যাটাস</th>
            <th *ngIf="this.role == 'hallOfficer'">অ্যাকশন</th>
          </tr>
          <tr>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of mf.data; index as i;">
            <td class="pointer normal-link" [routerLink]="['details/', employee.id]">{{employee.name}}</td>
            <td>{{employee.joining_date}}</td>
            <td>{{employee.job_title}}</td>
            <td>{{employee.contact_number}}</td>
            <td>{{employee.department}}</td>
            <td>{{employee.campus_residency}}</td>
            <td *ngIf="this.role == 'hallOfficer'">
              <a (click)="openUpdateEmployeeModal(updateEmployee)" href="javascript:;" class="edit-delete-icon">
                <i class="icofont icofont-edit"></i>
              </a>&nbsp;&nbsp;
              <ng-template #updateEmployee>
                <div class="modal-header">
                  <h5 class="modal-title pull-left">তথ্য সংশোধন</h5>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="decline()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">নাম<span style="color: red">*</span></label>
                    <div class="col-sm-8">
                      <input class="form-control" type="text" [(ngModel)]="employee.name" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">যোগদানের তারিখ</label>
                    <div class="col-sm-8">
                      <input type="text" placeholder="DD/MM/YYYY" class="form-control" #dp="bsDatepicker" [bsValue]="bsValue" 
                      [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-default' }"
                        bsDatepicker [(ngModel)]="employee.joining_date">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">ঠিকানা</label>
                    <div class="col-sm-8">
                      <input class="form-control" type="text" [(ngModel)]="employee.address" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">মোবাইল<span style="color: red">*</span></label>
                    <div class="col-sm-8">
                      <input class="form-control" type="text" [(ngModel)]="employee.contact_number" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">পদমর্যাদা<span style="color: red">*</span></label>
                    <div class="col-sm-8">
                      <input class="form-control" type="text" [(ngModel)]="employee.job_title" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">ডিপার্টমেন্ট</label>
                    <div class="col-sm-8">
                      <input class="form-control" type="text" [(ngModel)]="employee.department" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">ক্যাম্পাসের আবাসিক</label>
                    <div class="col-sm-8">
                      <select [(ngModel)]="employee.campus_residency" class="form-control">
                        <option value="yes">হ্যাঁ</option>
                        <option value="no">না</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">অনুষ্ঠানে অংশগ্রহণ</label>
                    <div class="col-sm-8">
                      <input class="form-control" type="text" [(ngModel)]="employee.event_participation" />
                    </div>
                  </div>
                  <button type="button" class="btn btn-success text-white" (click)="confirmUpdateEmployee(employee)">নিশ্চিত</button>
                  <button type="button" class="btn text-white cancel-button f-right" (click)="decline()">বাতিল</button>
                </div>
              </ng-template>
              <a (click)="openDeleteModal(deleteTemplate)" href="javascript:;" class="edit-delete-icon">
                <i class="icofont icofont-ui-delete"></i>
              </a>
              <ng-template #deleteTemplate>
                <div class="modal-header">
                  <h5 class="modal-title pull-left">তথ্য মুছে দিতে ইচ্ছুক?</h5>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <button type="button" class="btn btn-success text-white" (click)="confirmDelete(employee)">নিশ্চিত</button>
                  <button type="button" class="btn text-white cancel-button f-right" (click)="declineDelete()">বাতিল</button>
                </div>
              </ng-template>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="7">
              <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

</div>


<ng-template #addEmployee>
  <div class="modal-header">
    <h5 class="modal-title pull-left">নতুন কর্মকর্তা/কর্মচারী যুক্ত করুন</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">নাম<span style="color: red">*</span></label>
      <div class="col-sm-8">
        <input class="form-control" type="text" [(ngModel)]="employeeToBeAdded.name" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">যোগদানের তারিখ</label>
      <div class="col-sm-8">
        <input type="text" placeholder="DD/MM/YYYY" class="form-control" #dp="bsDatepicker" [bsValue]="bsValue" 
        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-default' }"
          bsDatepicker [(ngModel)]="employeeToBeAdded.joining_date">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">ঠিকানা</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" [(ngModel)]="employeeToBeAdded.address" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">মোবাইল<span style="color: red">*</span></label>
      <div class="col-sm-8">
        <input class="form-control" type="text" [(ngModel)]="employeeToBeAdded.contact_number" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">পদমর্যাদা<span style="color: red">*</span></label>
      <div class="col-sm-8">
        <input class="form-control" type="text" [(ngModel)]="employeeToBeAdded.job_title" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">ডিপার্টমেন্ট</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" [(ngModel)]="employeeToBeAdded.department" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">ক্যাম্পাসের আবাসিক</label>
      <div class="col-sm-8">
        <select [(ngModel)]="employeeToBeAdded.campus_residency" class="form-control">
          <option value="yes">হ্যাঁ</option>
          <option value="no">না</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">অনুষ্ঠানে অংশগ্রহণ</label>
      <div class="col-sm-8">
        <input class="form-control" type="text" [(ngModel)]="employeeToBeAdded.event_participation" />
      </div>
    </div>
    <div *ngIf="this.confirmAddError == true" class="form-group row" style="color: red">
      <label class="col-sm-12 col-form-label">*ঠিকমত ফর্ম পূরণ করুন</label>
    </div>
    <button type="button" class="btn btn-success text-white" (click)="confirmAddEmployee()">নিশ্চিত</button>
    <button type="button" class="btn text-white cancel-button f-right" (click)="decline()">বাতিল</button>
  </div>
</ng-template>

  <ng2-toasty [position]="position"></ng2-toasty>