<div class="m-t-15">
  <!-- personal card start -->
  <div class="card">
    <div class="card-header">
      <button id="edit-btn" type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right"
        (click)="toggleEditProfile()">
        তথ্য সংশোধন <i class="icofont {{ editProfileIcon }}"></i>
      </button>
    </div>
    <div class="card-body">
      <!-- end of view-info -->
      <div class="edit-info" *ngIf="!editProfile">
        <div class="row">
          <div class="col-lg-12">
            <div class="general-info">
              <div class="row">
                <div class="col-lg-6">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>
                            <select id="type" class="form-control">
                              <option *ngFor="let item of data" [value]="item.value">
                                {{item.typeMain}}
                              </option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-radio">
                              <div class="group-add-on">
                                <div class="radio radiofill radio-inline">
                                  <label>
                                    <input type="radio" name="radio"><i class="helper"></i> Male
                                  </label>
                                </div>
                                <div class="radio radiofill radio-inline">
                                  <label>
                                    <input type="radio" name="radio" checked><i class="helper"></i> Female
                                  </label>
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <input id="dropper-default" class="form-control" type="text" value="October 25th, 1990"
                              placeholder="Select Your Birth Date" />
                          </td>
                        </tr>
                        
                        
                        <tr>
                          <td>
                            <div class="input-group">
                              <span class="input-group-addon"><i class="icofont icofont-location-pin"></i></span>
                              <input type="text" class="form-control" placeholder="Address" value="New York, USA">
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- end of table col-lg-6 -->
                <div class="col-lg-6">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>
                            <div class="input-group">
                              <span class="input-group-addon"><i class="icofont icofont-mobile-phone"></i></span>
                              <input type="text" class="form-control" value="(0123) - 4567891" placeholder="Mobile Number">
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="input-group">
                              <span class="input-group-addon"><i class="icofont icofont-social-twitter"></i></span>
                              <input type="text" class="form-control" value="@codedthemes" placeholder="Twitter Id">
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="input-group">
                              <span class="input-group-addon"><i class="icofont icofont-social-skype"></i></span>
                              <input type="email" class="form-control" value="codedthemes.demo" placeholder="Skype Id">
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="input-group">
                              <span class="input-group-addon"><i class="icofont icofont-earth"></i></span>
                              <input type="text" class="form-control" value="www.demo.com" placeholder="website">
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <a href="javascript:;" class="btn btn-primary waves-effect waves-light m-r-20">Save</a>
                <a href="javascript:;" id="edit-cancel" class="btn btn-default waves-effect" (click)="toggleEditProfile()">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  
  </div>
</div>