<!-- student data table card start -->
<div class="card">
  <div class="card-body contact-details">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10">
        <div>
          <button type="button" class="btn btn-danger" (click)="isCollapsed = !isCollapsed">
            সার্চ ও সর্ট
          </button>
          <!-- <button type="button" class="btn btn-danger" (click)="convertToPdf()">
            <i class="icofont icofont-download"></i> ডাউনলোড
          </button> -->
          <button type="button" class="btn btn-danger" (click)="openReportModal(reportTemplate)">
             রিপোর্ট
          </button>
          <div [collapse]="isCollapsed" class="card card-block">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="filter">নাম</label>
                  <input class="form-control" type="text" [(ngModel)]="studentToBeSearched.name" />
                </div>
                <div class="form-group">
                  <label for="filter">রেজিস্ট্রেশন নম্বর</label>
                  <input class="form-control" type="text" [(ngModel)]="studentToBeSearched.registrationNumber" />
                </div>
                <div class="form-group">
                  <label for="filter">আবাসিক স্ট্যাটাস</label>
                  <select class="form-control" [(ngModel)]="studentToBeSearched.residentialStatus">
                    <option value="Non-resident">Non-resident</option>
                    <option value="Resident">Resident</option>
                    <option value="Doubler">Doubler</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="sel1">শ্রেণি/বর্ষ</label>
                  <input class="form-control" type="text" [(ngModel)]="studentToBeSearched.class_year_semester" />
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="filter">শিক্ষাবর্ষ</label>
                  <input class="form-control" type="text" [(ngModel)]="studentToBeSearched.session" />
                </div>
                <div class="form-group">
                  <label for="filter">ছাত্রত্ব স্ট্যাটাস</label>
                  <select class="form-control" [(ngModel)]="studentToBeSearched.alumni">
                    <option>--</option>
                    <option value="false">বর্তমান</option>
                    <option value="true">প্রাক্তন</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="filter">ডিপার্টমেন্ট</label>
                  <input class="form-control" type="text" [(ngModel)]="studentToBeSearched.subject_name" />
                </div>
                <div class="form-group">
                  <label for="sel1"><b>কিভাবে সর্ট করতে চান?</b></label>
                  <select class="form-control" [(ngModel)]="studentToBeSearched.sort_by">
                    <option value="name">নাম</option>
                    <option value="session">শিক্ষাবর্ষ</option>
                    <option value="registrationNumber">রেজিস্ট্রেশন নম্বর</option>
                    <option value="class_year_semester">শ্রেণি/বর্ষ</option>
                  </select>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-danger" (click)="searchSortStudent(studentToBeSearched)">
              নিশ্চিত করুন
            </button>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-2">
        <div class="btn-group" dropdown>
          <!-- <button id="button-basic" type="button" class="btn btn-danger f-right" [routerLink]="['add_student/', 0]">
            <i class="icofont icofont-plus"></i>
            নতুন ছাত্র
          </button> -->

          <button id="button-basic" dropdownToggle type="button" class="btn btn-danger f-right" aria-controls="dropdown-basic">
            <i class="icofont icofont-plus"></i>
            নতুন ছাত্র<span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" style="color:black" [routerLink]="['add_student/', 0]">নতুন
                ছাত্রের ফর্ম</a></li>
            <li role="menuitem"><a class="dropdown-item pointer" (click)="openFileUploadModal(fileUploadTemplate)">ফাইল
                আপলোড</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="table-responsive" style="margin-top:30px">
      <table class="table table-striped table-bordered full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
        [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
        <thead>
          <tr>
            <th>নাম</th>
            <th>রেজিস্ট্রেশন<br />নম্বর</th>
            <th>শিক্ষাবর্ষ</th>
            <th>আবাসিক<br />স্ট্যাটাস</th>
            <th>কক্ষ</th>
            <th>ডিপার্টমেন্ট</th>
            <th>শ্রেণি/বর্ষ</th>
            <th>মোবাইল<br />নম্বর</th>
            <th>অ্যাকশন</th>
          </tr>
          <tr>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data; index as i;">
            <td class="pointer normal-link" [routerLink]="['details/', item.registrationNumber]">{{item.name}}</td>
            <td>{{item.registrationNumber}}</td>
            <td>{{item.session}}</td>
            <td>{{item.residentialStatus}}</td>
            <td *ngIf="item.room_no==-1">N/A</td>
            <td *ngIf="item.room_no!=-1">{{item.room_no}}</td>
            <!-- <td>{{item.admissionFeesStatus ? 'Paid' : 'Due'}}</td> -->
            <td>{{item.subject_name}}</td>
            <td>{{item.class_year_semester}}</td>
            <td>{{item.mobileNumber}}</td>
            <td>
              <a (click)="openUpdateStudentModal(template)" href="javascript:;" class="edit-delete-icon">
                <i class="icofont icofont-edit"></i></a>&nbsp;&nbsp;
              <ng-template #template>
                <div class="modal-header">
                  <h5 class="modal-title pull-left">তথ্য সংশোধন</h5>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">নাম</label>
                    <div class="col-sm-8">
                      <input class="form-control" type="text" [(ngModel)]="item.name" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">রেজিস্ট্রেশান নম্বর</label>
                    <div class="col-sm-8">
                      <input class="form-control" type="text" [(ngModel)]="item.registrationNumber" readonly />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">শিক্ষাবর্ষ</label>
                    <div class="col-sm-8">
                      <input class="form-control" type="text" [(ngModel)]="item.session" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">আবাসিক স্ট্যাটাস</label>
                    <div class="col-sm-8">
                      <select class="form-control" [(ngModel)]="item.residentialStatus">
                        <option value="Resident">Resident</option>
                        <option value="Doubler">Doubler</option>
                        <option value="Non-resident">Non-resident</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">হলের কক্ষ নম্বর</label>
                    <div class="col-sm-8">
                      <input class="form-control" type="text" [(ngModel)]="item.room_no" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">ডিপার্টমেন্ট</label>
                    <div class="col-sm-8">
                      <input class="form-control" type="text" [(ngModel)]="item.subject_name" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">শ্রেণি/বর্ষ</label>
                    <div class="col-sm-8">
                      <input class="form-control" type="text" [(ngModel)]="item.class_year_semester" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">মোবাইল নম্বর</label>
                    <div class="col-sm-8">
                      <input class="form-control" type="text" [(ngModel)]="item.mobileNumber" />
                    </div>
                  </div>
                  <button type="button" class="btn btn-danger text-white" (click)="confirmUpdateStudent(item)">নিশ্চিত</button>
                  <button type="button" class="btn text-white cancel-button f-right" (click)="decline()">বাতিল</button>
                </div>
              </ng-template>
              <a (click)="openDeleteModal(deleteTemplate)" href="javascript:;" class="edit-delete-icon">
                <i class="icofont icofont-ui-delete"></i></a>
              <ng-template #deleteTemplate>
                <div class="modal-header">
                  <h5 class="modal-title pull-left">তথ্য মুছে দিতে ইচ্ছুক?</h5>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <button type="button" class="btn btn-danger text-white" (click)="confirmDelete(item)">নিশ্চিত</button>
                  <button type="button" class="btn text-white cancel-button f-right" (click)="declineDelete()">বাতিল</button>
                </div>
              </ng-template>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="10">
              <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

</div>

<ng2-toasty [position]="position"></ng2-toasty>
<ng-template #fileUploadTemplate>
  <div class="modal-header">
    <h5 class="modal-title pull-left">ফাইল আপলোড</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="fileUploadModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- <div class="modal-body">
    <div class="text-center">
      <label for="upload" class="file-upload__label">ফাইল নির্ধারণ করুন</label> (ফরম্যাটঃ .xlsx)
      <input id="upload" class="file-upload__input" type="file" name="file-upload" ng2FileSelect [uploader]="uploader">
    </div>
    <table class="table">
      <thead>
      </thead>
      <tbody>
        <tr *ngFor="let item of uploader.queue">
          <td><strong>{{ item?.file?.name }}</strong></td>
          <td class="text-center">
            <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
            <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
            <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
          </td>
          <td>
            <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
              <span class="glyphicon glyphicon-upload"></span> আপলোড
            </button>
            <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
              <span class="glyphicon glyphicon-trash"></span> ডিলিট
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->

  <div class="modal-body">
    <div class="text-center">
      <label for="upload" class="file-upload__label">ফাইল নির্ধারণ করুন</label> (ফরম্যাটঃ .xlsx)
      <input id="upload" class="file-upload__input" type="file" (change)="fileChange($event)" accept=".xls, .xlsx,.csv">
    </div>
  </div>
</ng-template>
<button type="button" class="btn btn-xs" style="background-color:brown; color:white" (click)="getCleanUpData()">
  <span class="glyphicon glyphicon-upload"></span> পুরাতন তথ্য মুছে দিন
</button>


<ng-template #reportTemplate>
  <div class="modal-header">
    <h5 class="modal-title pull-left">রিপোর্ট</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="reportModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row" style="overflow-y: scroll;height:450px;">
      <div class="col-md-6">
        <div>
          <p><b>রিপোর্ট এ কোন কোন তথ্য দেখাতে চান?</b></p>
          <input type="checkbox" name="name" [value]="name" checked disabled> ছাত্রের নাম<br />
          <input type="checkbox" name="registrationNumber" value="registrationNumber" checked disabled> রেজিস্ট্রেশান
          নম্বর<br />

          <input type="checkbox" (change)="change($event, session)" [(ngModel)]="session" value="session"> শিক্ষাবর্ষ<br />
          <input type="checkbox" (change)="change($event, fathersName)" [(ngModel)]="fathersName" value="fathersName"> পিতার নাম<br />
          <input type="checkbox" (change)="change($event, mothersName)" [(ngModel)]="mothersName" value="mothersName"> মাতার নাম<br />
          <input type="checkbox" (change)="change($event, mobileNumber)" [(ngModel)]="mobileNumber" value="mobileNumber"> মোবাইল নম্বর<br />
          <input type="checkbox" (change)="change($event, contactAddress)" [(ngModel)]="contactAddress" value="contactAddress"> যোগাযোগের ঠিকানা<br />
          <input type="checkbox" (change)="change($event, permanentAddress)" [(ngModel)]="permanentAddress" value="permanentAddress"> স্থায়ী ঠিকানা<br />
          <input type="checkbox" (change)="change($event, nationality)" [(ngModel)]="nationality" value="nationality"> জাতীয়তা<br />
          <input type="checkbox" (change)="change($event, dateOfBirth)" [(ngModel)]="dateOfBirth" value="dateOfBirth"> জন্ম তারিখ<br />
          <input type="checkbox" (change)="change($event, religion)" [(ngModel)]="religion" value="religion"> ধর্ম<br />
          <input type="checkbox" (change)="change($event, gender)" [(ngModel)]="gender" value="gender"> লিঙ্গ<br />
          <input type="checkbox" (change)="change($event, admissionExamMarks)" [(ngModel)]="admissionExamMarks" value="admissionExamMarks"> অ্যাডমিশন মার্ক<br />
          <input type="checkbox" (change)="change($event, NID)" [(ngModel)]="NID" value="NID"> NID<br />
        </div>
      </div>
      <div class="col-md-6">
        <p><b>রিপোর্ট কিভাবে ফিল্টার করতে চান?</b></p>
        <div class="form-group">
          <label for="filter">আবাসিক স্ট্যাটাস</label>
          <select class="form-control" [(ngModel)]="studentToBeFiltered.residentialStatus">
            <option value="Non-resident">Non-resident</option>
            <option value="Resident">Resident</option>
            <option value="Doubler">Doubler</option>
          </select>
        </div>
        <div class="form-group">
          <label for="sel1">শ্রেণি/বর্ষ</label>
          <input class="form-control" type="text" [(ngModel)]="studentToBeFiltered.class_year_semester" />
        </div>

        <div class="form-group">
          <label for="filter">শিক্ষাবর্ষ</label>
          <input class="form-control" type="text" [(ngModel)]="studentToBeFiltered.session" />
        </div>
        <div class="form-group">
          <label for="filter">ছাত্রত্ব স্ট্যাটাস</label>
          <select class="form-control" [(ngModel)]="studentToBeFiltered.alumni">
            <option value="false">বর্তমান</option>
            <option value="true">প্রাক্তন</option>
          </select>
        </div>
        <div class="form-group">
          <label for="filter">ডিপার্টমেন্ট</label>
          <input class="form-control" type="text" [(ngModel)]="studentToBeFiltered.subject_name" />
        </div>
        <div class="form-group">
          <label for="sel1"><b>কিভাবে সর্ট করতে চান?</b></label>
          <select class="form-control" [(ngModel)]="studentToBeFiltered.sort_by">
            <option value="name">নাম</option>
            <option value="session">শিক্ষাবর্ষ</option>
            <option value="registrationNumber">রেজিস্ট্রেশন নম্বর</option>
            <option value="class_year_semester">শ্রেণি/বর্ষ</option>
          </select>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-danger text-white" (click)="downloadCSV(studentToBeFiltered)"><i class="icofont icofont-download"></i> ডাউনলোড</button>
      <button type="button" class="btn text-white cancel-button f-right" (click)="reportModalRef.hide()">বাতিল</button>
  </div>
</ng-template>

<!-- <form method="POST" action="10.100.106.17:5000/api/upload" enctype="multipart/form-data">
  <input type="file" name="pic" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
  <button type="submit">submit</button>
</form> -->