<!-- student data table card start -->
<div class="card">
  <div class="card-body contact-details">
    <div class="row">
      <!-- <div class="col-xs-12 col-sm-12 col-sm-12 col-md-4">
        <label class="label-control">Show
          <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
            <option [ngValue]="10">10</option>
            <option [ngValue]="25">25</option>
            <option [ngValue]="50">50</option>
            <option [ngValue]="100">100</option>
          </select>
          entries
        </label>
      </div> -->
      <div class="col-xs-12 col-sm-12 col-md-10">
        <div>
          <!-- <label>সার্চ ও সর্ট:
            <input type="search" [(ngModel)]="filterQuery" class="form-control input-lg full-data-search" placeholder="নাম দিয়ে খুঁজুন">
          </label> -->
          <button type="button" class="btn btn-danger" (click)="isCollapsed = !isCollapsed">
            সার্চ ও সর্ট
          </button>
          <button type="button" class="btn btn-danger">
            <i class="icofont icofont-printer"></i> প্রিন্ট
          </button>

          <div [collapse]="isCollapsed" class="card card-block">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="filter">নাম</label>
                  <input class="form-control" type="text" />
                </div>
                <div class="form-group">
                  <label for="filter">আবাসিক স্ট্যাটাস</label>
                  <select class="form-control">
                    <option>--</option>
                    <option>আবাসিক</option>
                    <option>অনাবাসিক</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="filter">ডিপার্টমেন্ট</label>
                  <input class="form-control" type="text" />
                </div>
                <div class="form-group">
                  <label for="sel1">শ্রেণি</label>
                  <select class="form-control">
                    <option>১ম</option>
                    <option>২য়</option>
                    <option>৩য়</option>
                    <option>৪র্থ</option>
                  </select>
                </div>

              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="filter">শিক্ষাবর্ষ</label>
                  <input class="form-control" type="text" />
                </div>
                <div class="form-group">
                  <label for="filter">ছাত্রত্ব স্ট্যাটাস</label>
                  <select class="form-control">
                    <option>--</option>
                    <option>বর্তমান</option>
                    <option>প্রাক্তন</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="filter">জন্মতারিখ</label>
                  <input class="form-control" type="text" />
                </div>
                <div class="form-group">
                  <label for="sel1"><b>কিভাবে সর্ট করতে চান?</b></label>
                  <select class="form-control">
                    <option>নাম</option>
                    <option>শিক্ষাবর্ষ</option>
                    <option>জন্মতারিখ</option>
                    <option>ডিপার্টমেন্ট</option>
                  </select>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-danger">
              ক্লিক করুন
            </button>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-2" style="text-align: right;">
        <button class="btn btn-danger"><i class="icofont icofont-plus"></i> নতুন ছাত্র</button>
      </div>
    </div>
    <div class="table-responsive" style="margin-top:30px">
      <table class="table table-striped table-bordered full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
        [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
        <thead>
          <tr>
            <th>
              <mfDefaultSorter by="name">নাম</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="fatherName">পিতার নাম</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="motherName">মাতার নাম</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="department">ডিপার্টমেন্ট</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="session">শিক্ষাবর্ষ</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="presentAddress">বর্তমান ঠিকানা</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter>অ্যাকশন</mfDefaultSorter>
            </th>
          </tr>
          <tr>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data; index as i;">
            <td class="pointer normal-link" [routerLink]="['details/', item.name]">{{item.name}}</td>
            <td>{{item.fatherName}}</td>
            <td>{{item.motherName}}</td>
            <td>{{item.department}}</td>
            <td>{{item.session}}</td>
            <td>{{item.presentAddress}}</td>
            <td ngbDropdown>
              <button ngbDropdownToggle type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-cog" aria-hidden="true"></i>
              </button>
              <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right b-none contact-menu">
                <a class="dropdown-item" href="javascript:;">
                  <i class="icofont icofont-edit"></i>এডিট</a>
                <a class="dropdown-item" href="javascript:;">
                  <i class="icofont icofont-ui-delete"></i>ডিলিট</a>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="7">
              <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

</div>

