<div class="m-t-15">
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            <ul class="media-list">
                <li class="media" *ngFor="let item of this.comments;">
                    <div class="media-left">
                        <i class="icofont icofont-business-man-alt-1"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading">{{item.user}}<span class="f-12 text-muted m-l-5">{{item.date}}</span></h6>
                        <p class="m-b-0">{{item.comment}}</p>
                        <!-- <div class="m-b-25">
                            <span><a href="javascript:;" class="f-12">সংশোধন</a> </span>
                        </div> -->
                        <hr>
                    </div>
                </li>
            </ul>
            <div class="md-float-material d-flex">
                <div class="md-group-add-on p-relative col-lg-12">
                    <div class="input-group">
                        <!-- <span class="input-group-addon"><i class="icofont icofont-comment"></i></span> -->
                        <input type="text" class="form-control" placeholder="মন্তব্য লিখুন" [(ngModel)]="commentObject.comment"
                            required>
                        <button class="btn btn-danger" [disabled]="!commentObject.comment" (click)="postComment(commentObject)"><i
                                class="icofont icofont-plus"></i> নিশ্চিত করুন</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>