<div class="m-t-15">
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            <ul class="media-list">
                <li class="media">
                    <div class="media-left">
                        <i class="icofont icofont-business-man-alt-1"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading">Fatiul Huq Sujoy<span class="f-12 text-muted m-l-5">06-10-2018</span></h6>
                        <p class="m-b-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                            sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                        <div class="m-b-25">
                            <span><a href="javascript:;" class="f-12">সংশোধন</a> </span>
                        </div>
                        <hr>
                    </div>
                </li>
                <li class="media">
                    <div class="media-left">
                        <i class="icofont icofont-business-man-alt-1"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading">Fatiul Huq Sujoy<span class="f-12 text-muted m-l-5">06-10-2018</span></h6>
                        <p class="m-b-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                            sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                        <div class="m-b-25">
                            <span><a href="javascript:;" class="f-12">সংশোধন</a> </span>
                        </div>
                        <hr>
                    </div>
                </li>
            </ul>
            <div class="md-float-material d-flex">
                <div class="md-group-add-on p-relative col-lg-12">
                    <div class="input-group input-group-button input-group-danger">
                        <!-- <span class="input-group-addon"><i class="icofont icofont-comment"></i></span> -->
                        <input type="text" class="form-control" placeholder="মন্তব্য লিখুন">
                        <span class="input-group-addon">
                            <button class="btn btn-danger"><i class="icofont icofont-plus"></i> নিশ্চিত করুন</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>